
    @model IEnumerable<Application.ViewModels.BoxViewModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Sender Email
            </th>
            <th>
                Date Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <span>@item.SenderEmail</span>

                </td>
                <td>
                    <span>@item.DateUpdated.ToShortDateString()</span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Box Info", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure?')" })
                </td>
            </tr>
}
    </tbody>
</table>
